<html>
    <head>
        <title>PMTiles MapLibre Example</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/css/maplibre-gl.css">
        <script src="/static/js/maplibre-gl.js"></script>
        <script src="/static/js/pmtiles.js"></script>
        <style>
            body {
                margin: 0;
            }
            #map {
                height:calc(100% - 50px);
                width:100%;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        Description from PMTiles metadata: <span id="description"></span>
        <script type="text/javascript">
            let protocol = new pmtiles.Protocol();
            maplibregl.addProtocol("pmtiles", protocol.tile);

            let PMTILES_URL = "https://pmtiles.io/protomaps(vector)ODbL_firenze.pmtiles";

            let source = new pmtiles.FetchSource(PMTILES_URL, new Headers({'Content-Language': 'xx'}));

            const p = new pmtiles.PMTiles(source);

            protocol.add(p);

            p.getMetadata().then((m) => {
              document.getElementById("description").textContent = m.description;
            })

            p.getHeader().then((h) => {
              const map = new maplibregl.Map({
                container: "map",
                zoom: h.maxZoom - 2,
                center: [h.centerLon, h.centerLat],
                style: {
                  version: 8,
                  sources: {
                    example_source: {
                      type: "vector",
                      url: "pmtiles://https://pmtiles.io/stamen_toner(raster)CC-BY+ODbL_z3.pmtiles",
                      attribution:
                        '© <a href="https://openstreetmap.org">OpenStreetMap</a>',
                    },
                  },
                  layers: [
                    {
                      id: "water",
                      source: "example_source",
                      "source-layer": "water",
                      filter: ["==",["geometry-type"],"Polygon"],
                      type: "fill",
                      paint: {
                        "fill-color": "#80b1d3",
                      },
                    },
                    {
                      id: "buildings",
                      source: "example_source",
                      "source-layer": "buildings",
                      type: "fill",
                      paint: {
                        "fill-color": "#d9d9d9",
                      },
                    },
                    {
                      id: "roads",
                      source: "example_source",
                      "source-layer": "roads",
                      type: "line",
                      paint: {
                        "line-color": "#fc8d62",
                      },
                    },
                    {
                      id: "pois",
                      source: "example_source",
                      "source-layer": "pois",
                      type: "circle",
                      paint: {
                        "circle-color": "#ffffb3",
                      },
                    },
                  ],
                },
              });
              map.showTileBoundaries = true;
            });
        </script>
    </body>
</html>